@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 201, 209, 217; /* 浅灰色文本 */
  --background-start-rgb: 13, 17, 23; /* 深蓝色调背景 */
  --background-end-rgb: 13, 17, 23; /* 深蓝色调背景 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 201, 209, 217;
    --background-start-rgb: 13, 17, 23;
    --background-end-rgb: 13, 17, 23;
  }
}

body {
  background-color: rgb(var(--background-start-rgb)); /* 直接使用变量作为背景 */
  color: rgb(var(--foreground-rgb)); /* 使用变量作为文本颜色 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
